.welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    transition: 0.5s ease;

    h1 {
      margin: -0.25em;
      font-size: 3em;
    }
  }
}

.hide {
  opacity: 0;
}
