@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light: #f1dede;
  --dark: #273043;
  --accent: #ff8811;
  font-family: 'Mulish', sans-serif;
}

body {
  background: var(--light);
}
